<div class="row">
</div>
<br>
<div>
  <%= form_tag  :method => :get, :html => { :class => "bs-docs-example form-horizontal"} do %>
      <%= link_to 'Create Company Admin',new_company_admin_path ,:method => :get %>
        <%end %>
</div>