<%= link_to "create user",create_user_company_admin_path, :method => :get, :class => "btn"%>
<span class="manage_cause_span"> <%=  link_to "events approvals" ,company_admin_events_path(current_person.id), :method => :get %></span>
<div class="row">
</div>
<br>
<div>

</div>