<%= link_to "create user",create_user_company_admin_path, :method => :get, :class => "btn"%>
<div class="row">
</div>
<br>
<div>
  <%= form_tag  :method => :get, :html => { :class => "bs-docs-example form-horizontal"} do %>
      <table  class="table table-hover" id=" sfg_admin_manage_cause_table">
        <% @company_users.each do |user| %>
            <tr>
              <td class="show_admin_dashboard_td2">
                <div class="control-group">
                  <%=  user.first_name %>
                </div>
              </td>
              <td class="show_admin_dashboard_td2">
                <div class="control-group">
                  <%=  user.email %>
                </div>
              </td>
            </tr>
        <%end %>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </table>
  <%end %>
</div>